<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>HAPPYPAW</title>
    <link rel="stylesheet" type="text/css" href="../../static/stylelogin.css">
    <link rel="shortcut icon" href="../../static/Fotos/LOGO_ARCOIRIS.png">
</head>

<body>

    <header class="main-header">
        <div class="logo">
            <a href="/inicio">HappyPaw</a>
        </div>

        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="menu-icon__line"></span>
        </label>
        <ul class="nav-links">
            <li class="nav-link">
                <a href="/inicio">Inicio</a>
            </li>
            <li class="nav-link">
                <a href="/inicio">Conócenos</a>
            </li>

            <li class="nav-link">
                <a href="/contact">Contáctanos</a>
            </li>
        </ul>

        
    </header>


    