
  <video playsinline autoplay muted loop width="100%" height="50%">
    <source src="../static/Fotos/Video collie.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="jumbotron1">
    <h1 id="hola" class="display-4">Hola PetLovers!</h1>

    <p id="hola" class="lead">Aquí encontrarás todo lo que necesites para el cuidado de tu mascota.</p>
  </div>



  <div class="container justify-content-center">
    <div class="row">
      <div class="col-xl-4 col-md-6 cl-sm-12" style="text-align:center;" id="colenlace">

        <a href="/locales">

          <img src="../static/Fotos/cachorro vet.jpg" width="400px" height="200px" style="filter:brightness(50%)">
          <div class="textoencima">ESTABLECIMIENTOS</div>
        </a>

      </div>
      <div class="col-xl-4 col-md-6 cl-sm-12" style="text-align:center;" id="colenlace">

        <a href="/pipiplaya">

          <img src="../static/Fotos/Perros corren playa.jpg" width="400px" height="200px"
            style="filter:brightness(50%)">
          <div class="textoencima">PIPICAN Y PLAYA</div>
        </a>

      </div>
      <div class="col-xl-4 col-md-6 cl-sm-12" style="text-align:center;" id="colenlace">
        <a href="/foro">
          <img src="../static/Fotos/perros grupo feliz.jpg" width="400px" height="200px" style="filter:brightness(50%)">
          <div class="textoencima">FORO</div>
        </a>
      </div>

      <div class="col-xl-4 col-md-6 cl-sm-12" style="text-align:center;" id="colenlace">

        <a href="/blogs">

          <img src="../static/Fotos/Perros mirando.jpg" width="400px" height="200px" style="filter:brightness(50%)">
          <div class="textoencima">BLOGS</div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 cl-sm-12" style="text-align:center;" id="colenlace">
        <a href="/valoraciones">
          <img src="../static/Fotos/Perros parque.jpg" width="400px" height="200px" style="filter:brightness(50%)">
          <div class="textoencima">VALORACIONES</div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 cl-sm-12" style="text-align:center;" id="colenlace">
        <a href="/contact">
          <img src="../static/Fotos/Paseo perros.jpg" width="400px" height="200px" style="filter:brightness(50%)">
          <div class="textoencima">CONTÁCTANOS</div>
        </a>
      </div>

    </div>
  </div>

  <br><br>

  <div class="container justify-content-center" style="text-align:center; font-size: 100px;" id="conocenos">
    <hr>HAPPY<img src="../static/Fotos/LOGO ARCOIRIS.jpg" width="300px" height="300px">PAW
    <hr>
  </div>

  <br><br><br>

  <div class="container3">
    <div class="row">
      <div class="col-xl-6 col-sm-12">
        <h1 class="lateralfoto"></h1>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="tituloabout">Quién somos?</h1>
        <p class="pabout">Hace tiempo que nos encontramos con ciertas dificultades en cuanto a la gestión y
          búsqueda de información. Tenemos que visitar decenas de webs diferentes para encontrar una clínica
          veterinaria cercana a nosotros, una playa que permita pasear perros, una zona de recreo o bien el estado y
          valoración de nuevos establecimientos a los que ir. Además, no todos tienen una página web, y si no la
          tienen, cómo les encontramos?</p>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="lateralfoto"></h1>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="tituloabout">Exelixi</h1>

        <p class="pabout">Por ello Pere, Rodrigo y Gabriela hemos juntado nuestras habilidades y hemos decidido crear esta app web y facilitar toda aquella información sin tener que pasarte 1h frente la pantalla.</p>
        </p>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="lateralfoto"></h1>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="tituloabout">En qué te podemos ayudar?</h1>

        <p class="pabout">Podrás encontrar desde clínicas veterinarias, tiendas para animales, consejos y cuidados para tu mascota hasta zonas de recreo para perros o playas donde tu mejor amigo es bienvenido! También podrás
          valorar y comentar los diferentes establecimientos o zonas y así facilitar a otros usuarios una decisión.</p>
      </div>
    </div>
  </div>

  <div class="container4">
    <div class="row">
      <div class="col-xl-6 col-sm-12">
        <h1 class="tituloesperas"><br>HAPPY PAW</h1>
        <p class="pabout">Nuestra marca se basa en conceptos como dinamismo, interacción y flexibilidad. Hemos
          configurado un sistema visual para que tu visita por nuestra web sea lo más agradable posible!</p>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="lateralfoto2"></h1>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="tituloesperas">Identidad</h1>
        <p class="pabout">Nuestra identidad es de carácter digital, pero si hemos realizado este proyecto es sobretodo
          por el amor hacia los animales.</p>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="lateralfoto2"></h1>
      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="tituloesperas">Únete</h1>

        <p class="pabout1">No olvides lo importante que es formar parte de esta gran comunidad que estamos creando, ya
          que tus comentarios y opiniones harán crecer y mejorar cada día este espacio, por ello, si todavía no tienes
          cuenta, regístrate en un solo click!<br>
          <br>
          <%if (login) {%>       
              <a>USUARIO ACTIVO</a>
         <%}else{%>
          <button class="btn btn-danger" id="botonreg">
            <a href="/login" id="registrateabajo"><%= name%></a>
          </button>
      <%}%>
          
          <br>
        </p>

      </div>
      <div class="col-xl-6 col-sm-12">
        <h1 class="lateralfoto2"></h1>
      </div>

    </div>
  </div>

  <br><br><br>




  <%- include('./partials/footer.ejs') %>